.border {
    border: 1px solid black;
}
.grid-container {
    display: grid;
    grid-template-rows: 93vh 5vh;
}

.nick-form {
    position: fixed;
    bottom: -1px;
    right: 15px;
    width: fit-content;
    margin-bottom: 7vh;
    z-index: 255;   
    padding: 5px 5px 5px 5px;
    box-shadow: black 1px 1px;
}